#ProfileInfo {
    overflow: visible;
}
#ProfilePicture {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.ProfilePicture {
    position: absolute;
    overflow: visible;
    width: 235px;
    height: 235px;
    left: 0px;
    top: 0px;
}
#Student_Studentovych__ {
    position: relative;
}
.InfoPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 32px;
    border-radius: 12px;
    transform: translate(-50%, -50%);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
}
#InfoCard {
    position: absolute;
    width: 1436px;
    height: 1128px;
    left: 49px;
    top: 0px;
    overflow: visible;
}
#InfoBg {
    fill: rgba(216,212,222,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.InfoBg {
    position: absolute;
    overflow: visible;
    width: 1237px;
    height: 871px;
    left: 0px;
    top: 236px;
}
#Student_Studentovych {
    left: 371px;
    top: 459px;
    position: absolute;
    overflow: visible;
    width: 524px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    color: rgba(112,112,112,1);
}
#ProfilePic {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.ProfilePic {
    position: absolute;
    overflow: visible;
    width: 453px;
    height: 453px;
    left: 406px;
    top: 0px;
}
#Info {
    position: absolute;
    width: 1410px;
    height: 592px;
    left: 26px;
    top: 536px;
    overflow: visible;
}
#Experience {
    position: absolute;
    width: 1392px;
    height: 55px;
    left: 18px;
    top: 343px;
    overflow: visible;
}
#I_did_a_thing_once_Living_in_m {
    left: 226px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 1167px;
    height: 55px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#ExperienceBtn {
    position: absolute;
    width: 216px;
    height: 49px;
    left: 0px;
    top: 3px;
    overflow: visible;
}
#ExperienceBtnBg {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.ExperienceBtnBg {
    position: absolute;
    overflow: visible;
    width: 216px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Experience_s {
    left: 23px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 172px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#Bio {
    position: absolute;
    width: 1183px;
    height: 266px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#BioBg {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.BioBg {
    position: absolute;
    overflow: visible;
    width: 1176px;
    height: 266px;
    left: 0px;
    top: 0px;
}
#Curabitur_venenatis_ornare_mau {
    left: 17px;
    top: 13px;
    position: absolute;
    overflow: hidden;
    width: 1167px;
    height: 242px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(112,112,112,1);
}
#Interests {
    position: absolute;
    width: 323px;
    height: 51px;
    left: 18px;
    top: 280px;
    overflow: visible;
}
#InterestsBtn {
    position: absolute;
    width: 216px;
    height: 51px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#InterestsBtnBg {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.InterestsBtnBg {
    position: absolute;
    overflow: visible;
    width: 216px;
    height: 49px;
    left: 0px;
    top: 2px;
}
#Interests_z {
    left: 41px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 136px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#Doing {
    left: 226px;
    top: 2px;
    position: absolute;
    overflow: visible;
    width: 98px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#Skills {
    position: absolute;
    width: 1169px;
    height: 182px;
    left: 18px;
    top: 410px;
    overflow: visible;
}
#Making_toast_without_burning_t {
    left: 226px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 944px;
    height: 182px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(112,112,112,1);
}
#SkillsBtn {
    position: absolute;
    width: 216px;
    height: 49px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#SkillsBtnBg {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.SkillsBtnBg {
    position: absolute;
    overflow: visible;
    width: 216px;
    height: 49px;
    left: 0px;
    top: 0px;
}
#Skills_ {
    left: 69px;
    top: 1px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#EditBtn {
    position: absolute;
    width: 194px;
    height: 39px;
    left: 998px;
    top: 476px;
    overflow: visible;
}
#EditBg {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.EditBg {
    position: absolute;
    overflow: visible;
    width: 194px;
    height: 39px;
    left: 0px;
    top: 0px;
}
#Edit {
    left: 75px;
    top: 2px;
    position: absolute;
    overflow: visible;
    width: 46px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(112,112,112,1);
}
#n_0_Male_Estonia_Estonian_Finn {
    left: 65px;
    top: 331px;
    position: absolute;
    overflow: visible;
    width: 264px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(177,177,177,1);
}
#NameSpan {
    top: 120px;
    position: relative;
    left: 180px;
}