* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Stories {
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Stories;
    --web-view-id: Stories;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Stories_g {

    left: 10%;
    overflow: visible;
    position: relative;
}
#StoriesBg {
    fill: rgba(216,212,222,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.StoriesBg {
    position: relative;
    overflow: visible;
    left: 0px;
    top: 5.5%;
}
#Story2 {
    position: relative;

}
#Rectangle_5 {
    background-color: rgba(204,201,210,1);
    border:1px solid rgba(112,112,112,1);
border-radius: 5px;
}
.Rectangle_5 {

    position: relative;
    overflow: visible;
}
#n_0_Sep {
    position: relative;
    overflow: visible;
    width: 52px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(112,112,112,1);
}
#Story_to_end_all_stories {
    position: relative;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Phasellus_id_risus_facilisis_f {
    position: relative;
    overflow: visible;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#Story1 {
    position: absolute;
    width: 1042px;
    height: 292px;
    left: 40px;
    top: 660px;
    overflow: visible;
}
#Rectangle_6 {
    fill: rgba(204,201,210,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 1042px;
    height: 270px;
    left: 0px;
    top: 22px;
}
#n_0_Aug {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(112,112,112,1);
}
#I_happened_to_think_of_a_story {
    left: 23px;
    top: 33px;
    position: absolute;
    overflow: visible;
    width: 855px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(112,112,112,1);
}
#Phasellus_id_risus_facilisis_f_r {
    left: 23px;
    top: 83px;
    position: absolute;
    overflow: visible;
    width: 997px;
    height: 199px;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112,112,112,1);
}
#Stories_s {

    position: relative;
    overflow: visible;
    width: 108px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(112,112,112,1);
}
#Profile {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: visible;
}
#Ellipse_1 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 235px;
    height: 235px;
    left: 0px;
    top: 0px;
}
#Student_Studentovych__ {
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #707070;
    position: relative;
}